.App {
  text-align: center;
}
body{
  background-color: rgb(14, 148, 148);
}
.calculator{
  margin-top: 50px;
  margin-left: 400px;
  width: 600px;
  height: 400px;
  background-color: aqua;
  ;
}
.inputContainer{
  width: 300px;
  height: 100px;
  margin-top: 0;
  margin-bottom: 20px;
}
h1 {
  font-size: 40px;
  text-align: center;
}
.inputNumber {
  text-decoration: underline;
  text-align: center;
  width: 200px;
  margin-left: 100px;
  cursor: pointer;
}
.inputNumber,.equal{
  height: 30px;
}
.inputContainer,.inputNumber{

  margin-left: 150px;
}
.theButton,.equal {
  cursor: pointer;
  width:100px ;
}
.theButton{
  padding: 20px;
}
.inputNumber,.inputContainer,.theButton,.equal,.calculator{
  border-radius: 20px;
}
.result{
  height: 50px;
  border: black solid 5px;
}
